[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu
[submodule "sites/all/modules/autocomplete_widgets"]
	path = sites/all/modules/autocomplete_widgets
	url = git://git.drupal.org/project/autocomplete_widgets
[submodule "sites/all/modules/computed_field"]
	path = sites/all/modules/computed_field
	url = git://git.drupal.org/project/computed_field
[submodule "sites/all/modules/content_taxonomy"]
	path = sites/all/modules/content_taxonomy
	url = git://git.drupal.org/project/content_taxonomy
[submodule "sites/all/modules/email"]
	path = sites/all/modules/email
	url = http://git.drupal.org/project/email.git
[submodule "sites/all/modules/fieldgroup"]
	path = sites/all/modules/fieldgroup
	url = git://git.drupal.org/project/fieldgroup
[submodule "sites/all/modules/imagefield_tokens"]
	path = sites/all/modules/imagefield_tokens
	url = git://git.drupal.org/project/imagefield_tokens
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://git.drupal.org/project/link
[submodule "sites/all/modules/phone"]
	path = sites/all/modules/phone
	url = git://git.drupal.org/project/phone
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools
[submodule "sites/all/modules/context"]
	path = sites/all/modules/context
	url = git://git.drupal.org/project/context
[submodule "sites/all/modules/blog"]
	path = sites/all/modules/blog
	url = git://git.drupal.org/project/blog
[submodule "sites/all/modules/translation"]
	path = sites/all/modules/translation
	url = git://git.drupal.org/project/translation
[submodule "sites/all/modules/locale"]
	path = sites/all/modules/locale
	url = git://git.drupal.org/project/locale
[submodule "sites/all/modules/path"]
	path = sites/all/modules/path
	url = git://git.drupal.org/project/path
[submodule "sites/all/modules/profile"]
	path = sites/all/modules/profile
	url = git://git.drupal.org/project/profile
[submodule "sites/all/modules/taxonomy"]
	path = sites/all/modules/taxonomy
	url = git://git.drupal.org/project/taxonomy
[submodule "sites/all/modules/trigger"]
	path = sites/all/modules/trigger
	url = git://git.drupal.org/project/trigger
[submodule "sites/all/modules/upload"]
	path = sites/all/modules/upload
	url = git://git.drupal.org/project/upload
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = git://git.drupal.org/project/features
[submodule "sites/all/modules/imagecache"]
	path = sites/all/modules/imagecache
	url = git://git.drupal.org/project/imagecache
[submodule "sites/all/modules/gmap"]
	path = sites/all/modules/gmap
	url = git://git.drupal.org/project/gmap
[submodule "sites/all/modules/nodewords"]
	path = sites/all/modules/nodewords
	url = git://git.drupal.org/project/nodewords
[submodule "sites/all/modules/hours"]
	path = sites/all/modules/hours
	url = git://git.drupal.org/project/hours
[submodule "sites/all/modules/comment_notify"]
	path = sites/all/modules/comment_notify
	url = git://git.drupal.org/project/comment_notify
[submodule "sites/all/modules/customerror"]
	path = sites/all/modules/customerror
	url = git://git.drupal.org/project/customerror
[submodule "sites/all/modules/diff"]
	path = sites/all/modules/diff
	url = git://git.drupal.org/project/diff
[submodule "sites/all/modules/globalredirect"]
	path = sites/all/modules/globalredirect
	url = git://git.drupal.org/project/globalredirect
[submodule "sites/all/modules/google_website_optimizer"]
	path = sites/all/modules/google_website_optimizer
	url = git://git.drupal.org/project/google_website_optimizer
[submodule "sites/all/modules/job_queue"]
	path = sites/all/modules/job_queue
	url = git://git.drupal.org/project/job_queue
[submodule "sites/all/modules/mollom"]
	path = sites/all/modules/mollom
	url = git://git.drupal.org/project/mollom
[submodule "sites/all/modules/page_title"]
	path = sites/all/modules/page_title
	url = git://git.drupal.org/project/page_title
[submodule "sites/all/modules/path_redirect"]
	path = sites/all/modules/path_redirect
	url = git://git.drupal.org/project/path_redirect
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://git.drupal.org/project/pathauto
[submodule "sites/all/modules/phpass"]
	path = sites/all/modules/phpass
	url = git://git.drupal.org/project/phpass
[submodule "sites/all/modules/simplepie"]
	path = sites/all/modules/simplepie
	url = http://git.drupal.org/project/simplepie.git
[submodule "sites/all/modules/taxonomy_defaults"]
	path = sites/all/modules/taxonomy_defaults
	url = git://git.drupal.org/project/taxonomy_defaults
[submodule "sites/all/modules/taxonomy_delegate"]
	path = sites/all/modules/taxonomy_delegate
	url = git://git.drupal.org/project/taxonomy_delegate
[submodule "sites/all/modules/taxonomy_manager"]
	path = sites/all/modules/taxonomy_manager
	url = git://git.drupal.org/project/taxonomy_manager
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token
[submodule "sites/all/modules/transliteration"]
	path = sites/all/modules/transliteration
	url = git://git.drupal.org/project/transliteration
[submodule "sites/all/modules/upload_element"]
	path = sites/all/modules/upload_element
	url = git://git.drupal.org/project/upload_element
[submodule "sites/all/modules/signup"]
	path = sites/all/modules/signup
	url = git://git.drupal.org/project/signup
[submodule "sites/all/modules/badbehavior"]
	path = sites/all/modules/badbehavior
	url = git://git.drupal.org/project/badbehavior
[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = git://git.drupal.org/project/captcha
[submodule "sites/all/modules/recaptcha"]
	path = sites/all/modules/recaptcha
	url = git://git.drupal.org/project/recaptcha
[submodule "sites/all/modules/spamicide"]
	path = sites/all/modules/spamicide
	url = git://git.drupal.org/project/spamicide
[submodule "sites/all/modules/extlink"]
	path = sites/all/modules/extlink
	url = git://git.drupal.org/project/extlink
[submodule "sites/all/modules/jquery_ui"]
	path = sites/all/modules/jquery_ui
	url = git://git.drupal.org/project/jquery_ui
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = git://git.drupal.org/project/jquery_update
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = git://git.drupal.org/project/views_bulk_operations
[submodule "sites/all/modules/webform"]
	path = sites/all/modules/webform
	url = git://git.drupal.org/project/webform
[submodule "sites/all/modules/workflow"]
	path = sites/all/modules/workflow
	url = git://git.drupal.org/project/workflow
[submodule "sites/all/modules/garland"]
	path = sites/all/modules/garland
	url = git://git.drupal.org/project/garland
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/node_clone"]
	path = sites/all/modules/node_clone
	url = http://git.drupal.org/project/node_clone.git
[submodule "sites/all/modules/redirect"]
	path = sites/all/modules/redirect
	url = http://git.drupal.org/project/redirect.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "sites/all/themes/nypl_new"]
	path = sites/all/themes/nypl_new
	url = git@github.com:NYPL/nypl_new.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega
[submodule "sites/all/modules/omega_tools"]
	path = sites/all/modules/omega_tools
	url = git://git.drupal.org/project/omega_tools.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/delta"]
	path = sites/all/modules/delta
	url = http://git.drupal.org/project/delta.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupal.org/project/entity.git
[submodule "sites/all/modules/entityreference"]
	path = sites/all/modules/entityreference
	url = git://git.drupal.org/project/entityreference.git
[submodule "sites/all/modules/references"]
	path = sites/all/modules/references
	url = git://git.drupal.org/project/references.git
[submodule "sites/all/modules/cck"]
	path = sites/all/modules/cck
	url = http://git.drupal.org/project/cck.git
[submodule "sites/all/modules/advanced_help"]
	path = sites/all/modules/advanced_help
	url = http://git.drupal.org/project/advanced_help.git
[submodule "sites/all/modules/nypl_events"]
	path = sites/all/modules/nypl_events
	url = git@github.com:NYPL/nypl_events.git
[submodule "sites/all/modules/locations"]
	path = sites/all/modules/locations
	url = git@github.com:NYPL/locations.git
[submodule "sites/all/modules/nypl_content"]
	path = sites/all/modules/nypl_content
	url = git@github.com:NYPL/nypl_content
[submodule "sites/all/modules/bundle_copy"]
	path = sites/all/modules/bundle_copy
	url = http://git.drupal.org/project/bundle_copy.git
[submodule "sites/all/modules/nypl_digitalgallery"]
	path = sites/all/modules/nypl_digitalgallery
	url = git@github.com:NYPL/nypl_digitalgallery.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/nypl_grouper"]
	path = sites/all/modules/nypl_grouper
	url = git@github.com:NYPL/nypl_grouper.git
[submodule "sites/all/modules/nypl_apachesolr"]
	path = sites/all/modules/nypl_apachesolr
	url = git@github.com:NYPL/nypl_apachesolr.git
[submodule "sites/all/modules/apachesolr"]
	path = sites/all/modules/apachesolr
	url = git@github.com:NYPL/apachesolr.git
[submodule "sites/all/modules/field_collection"]
	path = sites/all/modules/field_collection
	url = http://git.drupal.org/project/field_collection.git
[submodule "sites/all/modules/views_data_export"]
	path = sites/all/modules/views_data_export
	url = http://git.drupal.org/project/views_data_export.git
[submodule "sites/all/modules/term_relations"]
	path = sites/all/modules/term_relations
	url = http://git.drupal.org/project/term_relations.git
[submodule "sites/all/modules/imagecache_actions"]
	path = sites/all/modules/imagecache_actions
	url = http://git.drupal.org/project/imagecache_actions.git
[submodule "sites/all/modules/memcache"]
	path = sites/all/modules/memcache
	url = http://git.drupal.org/project/memcache.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = http://git.drupal.org/project/media.git
[submodule "sites/all/modules/file_entity"]
	path = sites/all/modules/file_entity
	url = http://git.drupal.org/project/file_entity.git
[submodule "sites/all/modules/field_collection_views"]
	path = sites/all/modules/field_collection_views
	url = http://git.drupal.org/project/field_collection_views
[submodule "sites/all/modules/field_group"]
	path = sites/all/modules/field_group
	url = http://git.drupal.org/project/field_group.git
[submodule "sites/all/modules/nypl_bibliocommons"]
	path = sites/all/modules/nypl_bibliocommons
	url = git@github.com:NYPL/nypl_bibliocommons.git
[submodule "sites/all/modules/apc"]
	path = sites/all/modules/apc
	url = http://git.drupal.org/project/apc
[submodule "sites/all/modules/field_permissions"]
	path = sites/all/modules/field_permissions
	url = http://git.drupal.org/project/field_permissions
[submodule "sites/all/modules/unique_field"]
	path = sites/all/modules/unique_field
	url = http://git.drupal.org/project/unique_field.git
[submodule "sites/all/modules/node_export"]
	path = sites/all/modules/node_export
	url = http://git.drupal.org/project/node_export.git
[submodule "sites/all/modules/shrew"]
	path = sites/all/modules/shrew
	url = git@github.com:NYPL/shrew.git
[submodule "sites/all/modules/securepages"]
	path = sites/all/modules/securepages
	url = http://git.drupal.org/project/securepages
[submodule "sites/all/modules/uuid"]
	path = sites/all/modules/uuid
	url = http://git.drupal.org/project/uuid.git
[submodule "sites/all/modules/feeds"]
	path = sites/all/modules/feeds
	url = http://git.drupal.org/project/feeds.git
[submodule "sites/all/modules/job_scheduler"]
	path = sites/all/modules/job_scheduler
	url = http://git.drupal.org/project/job_scheduler.git
[submodule "sites/all/libraries/ckeditor"]
	path = sites/all/libraries/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "sites/all/libraries/simplepie"]
	path = sites/all/libraries/simplepie
	url = https://github.com/simplepie/simplepie.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
