[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu
[submodule "sites/all/modules/apachesolr"]
	path = sites/all/modules/apachesolr
	url = git://git.drupal.org/project/apachesolr
[submodule "sites/all/modules/autocomplete_widgets"]
	path = sites/all/modules/autocomplete_widgets
	url = git://git.drupal.org/project/autocomplete_widgets
[submodule "sites/all/modules/computed_field"]
	path = sites/all/modules/computed_field
	url = git://git.drupal.org/project/computed_field
[submodule "sites/all/modules/content_taxonomy"]
	path = sites/all/modules/content_taxonomy
	url = git://git.drupal.org/project/content_taxonomy
[submodule "sites/all/modules/email"]
	path = sites/all/modules/email
	url = git://git.drupal.org/project/email
[submodule "sites/all/modules/fieldgroup"]
	path = sites/all/modules/fieldgroup
	url = git://git.drupal.org/project/fieldgroup
[submodule "sites/all/modules/filefield"]
	path = sites/all/modules/filefield
	url = git://git.drupal.org/project/filefield
[submodule "sites/all/modules/imagefield"]
	path = sites/all/modules/imagefield
	url = git://git.drupal.org/project/imagefield
[submodule "sites/all/modules/imagefield_tokens"]
	path = sites/all/modules/imagefield_tokens
	url = git://git.drupal.org/project/imagefield_tokens
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://git.drupal.org/project/link
[submodule "sites/all/modules/phone"]
	path = sites/all/modules/phone
	url = git://git.drupal.org/project/phone
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools
[submodule "sites/all/modules/context"]
	path = sites/all/modules/context
	url = git://git.drupal.org/project/context
[submodule "sites/all/modules/blog"]
	path = sites/all/modules/blog
	url = git://git.drupal.org/project/blog
[submodule "sites/all/modules/translation"]
	path = sites/all/modules/translation
	url = git://git.drupal.org/project/translation
[submodule "sites/all/modules/locale"]
	path = sites/all/modules/locale
	url = git://git.drupal.org/project/locale
[submodule "sites/all/modules/path"]
	path = sites/all/modules/path
	url = git://git.drupal.org/project/path
[submodule "sites/all/modules/profile"]
	path = sites/all/modules/profile
	url = git://git.drupal.org/project/profile
[submodule "sites/all/modules/taxonomy"]
	path = sites/all/modules/taxonomy
	url = git://git.drupal.org/project/taxonomy
[submodule "sites/all/modules/trigger"]
	path = sites/all/modules/trigger
	url = git://git.drupal.org/project/trigger
[submodule "sites/all/modules/upload"]
	path = sites/all/modules/upload
	url = git://git.drupal.org/project/upload
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = git://git.drupal.org/project/features
[submodule "sites/all/modules/filefield_paths"]
	path = sites/all/modules/filefield_paths
	url = git://git.drupal.org/project/filefield_paths
[submodule "sites/all/modules/image"]
	path = sites/all/modules/image
	url = git://git.drupal.org/project/image
[submodule "sites/all/modules/img_assist"]
	path = sites/all/modules/img_assist
	url = git://git.drupal.org/project/img_assist
[submodule "sites/all/modules/imageapi"]
	path = sites/all/modules/imageapi
	url = git://git.drupal.org/project/imageapi
[submodule "sites/all/modules/imagecache"]
	path = sites/all/modules/imagecache
	url = git://git.drupal.org/project/imagecache
[submodule "sites/all/modules/gmap"]
	path = sites/all/modules/gmap
	url = git://git.drupal.org/project/gmap
[submodule "sites/all/modules/nodewords"]
	path = sites/all/modules/nodewords
	url = git://git.drupal.org/project/nodewords
[submodule "sites/all/modules/hours"]
	path = sites/all/modules/hours
	url = git://git.drupal.org/project/hours
[submodule "sites/all/modules/comment_notify"]
	path = sites/all/modules/comment_notify
	url = git://git.drupal.org/project/comment_notify
[submodule "sites/all/modules/customerror"]
	path = sites/all/modules/customerror
	url = git://git.drupal.org/project/customerror
[submodule "sites/all/modules/diff"]
	path = sites/all/modules/diff
	url = git://git.drupal.org/project/diff
[submodule "sites/all/modules/fckeditor"]
	path = sites/all/modules/fckeditor
	url = git://git.drupal.org/project/fckeditor
[submodule "sites/all/modules/globalredirect"]
	path = sites/all/modules/globalredirect
	url = git://git.drupal.org/project/globalredirect
[submodule "sites/all/modules/google_website_optimizer"]
	path = sites/all/modules/google_website_optimizer
	url = git://git.drupal.org/project/google_website_optimizer
[submodule "sites/all/modules/job_queue"]
	path = sites/all/modules/job_queue
	url = git://git.drupal.org/project/job_queue
[submodule "sites/all/modules/mollom"]
	path = sites/all/modules/mollom
	url = git://git.drupal.org/project/mollom
[submodule "sites/all/modules/page_title"]
	path = sites/all/modules/page_title
	url = git://git.drupal.org/project/page_title
[submodule "sites/all/modules/path_redirect"]
	path = sites/all/modules/path_redirect
	url = git://git.drupal.org/project/path_redirect
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://git.drupal.org/project/pathauto
[submodule "sites/all/modules/phpass"]
	path = sites/all/modules/phpass
	url = git://git.drupal.org/project/phpass
[submodule "sites/all/modules/simplepie"]
	path = sites/all/modules/simplepie
	url = git://git.drupal.org/project/simplepie
[submodule "sites/all/modules/taxonomy_defaults"]
	path = sites/all/modules/taxonomy_defaults
	url = git://git.drupal.org/project/taxonomy_defaults
[submodule "sites/all/modules/taxonomy_delegate"]
	path = sites/all/modules/taxonomy_delegate
	url = git://git.drupal.org/project/taxonomy_delegate
[submodule "sites/all/modules/taxonomy_manager"]
	path = sites/all/modules/taxonomy_manager
	url = git://git.drupal.org/project/taxonomy_manager
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token
[submodule "sites/all/modules/transliteration"]
	path = sites/all/modules/transliteration
	url = git://git.drupal.org/project/transliteration
[submodule "sites/all/modules/upload_element"]
	path = sites/all/modules/upload_element
	url = git://git.drupal.org/project/upload_element
[submodule "sites/all/modules/signup"]
	path = sites/all/modules/signup
	url = git://git.drupal.org/project/signup
[submodule "sites/all/modules/badbehavior"]
	path = sites/all/modules/badbehavior
	url = git://git.drupal.org/project/badbehavior
[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = git://git.drupal.org/project/captcha
[submodule "sites/all/modules/recaptcha"]
	path = sites/all/modules/recaptcha
	url = git://git.drupal.org/project/recaptcha
[submodule "sites/all/modules/spamicide"]
	path = sites/all/modules/spamicide
	url = git://git.drupal.org/project/spamicide
[submodule "sites/all/modules/extlink"]
	path = sites/all/modules/extlink
	url = git://git.drupal.org/project/extlink
[submodule "sites/all/modules/jquery_ui"]
	path = sites/all/modules/jquery_ui
	url = git://git.drupal.org/project/jquery_ui
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = git://git.drupal.org/project/jquery_update
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = git://git.drupal.org/project/views_bulk_operations
[submodule "sites/all/modules/webform"]
	path = sites/all/modules/webform
	url = git://git.drupal.org/project/webform
[submodule "sites/all/modules/workflow"]
	path = sites/all/modules/workflow
	url = git://git.drupal.org/project/workflow
[submodule "sites/all/modules/garland"]
	path = sites/all/modules/garland
	url = git://git.drupal.org/project/garland
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/node_clone"]
	path = sites/all/modules/node_clone
	url = http://git.drupal.org/project/node_clone.git
[submodule "sites/all/modules/redirect"]
	path = sites/all/modules/redirect
	url = http://git.drupal.org/project/redirect.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "sites/all/themes/nypl_new"]
	path = sites/all/themes/nypl_new
	url = git@github.com:NYPL/nypl_new.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega
[submodule "sites/all/modules/omega_tools"]
	path = sites/all/modules/omega_tools
	url = git://git.drupal.org/project/omega_tools.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/delta"]
	path = sites/all/modules/delta
	url = http://git.drupal.org/project/delta.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupal.org/project/entity.git
[submodule "sites/all/modules/entityreference"]
	path = sites/all/modules/entityreference
	url = git://git.drupal.org/project/entityreference.git
